<div class="directionsHeader" id="${directionsHeaderId}">
	<div id="directionsControls" aria-label="${_i18n.widgets.directionsWidget.headerNavigation}">

		<div data-dojo-attach-point="locateDivButton" class="directionsHeader locateButton"></div>

		<img src="images/icons_${iconsColor}/Reverse.png" alt="Reverse" aria-label="${_i18n.widgets.directionsWidget.reverse}" title="${_i18n.widgets.directionsWidget.reverse}" tabindex=0  class="directionsButton reverse" role="button" data-dojo-attach-event="click: reverseDirections"/>

		<div data-dojo-attach-point="addStopsButton" class="directionsHeader addStopsButton">
			<img src="images/icons_${iconsColor}/AddStop.png" alt="Stops" aria-label="${_i18n.widgets.directionsWidget.addStops}" title="${_i18n.widgets.directionsWidget.addStops}" tabindex=0  class="directionsButton stop" role="button" data-dojo-attach-event="click: addStopsDirections"/>
		</div>

		<img src="images/icons_${iconsColor}/Barriere.png" data-dojo-attach-point="barriers" alt="Barriere" aria-label="${_i18n.widgets.directionsWidget.barriere}" title="${_i18n.widgets.directionsWidget.barriere}" tabindex=0  class="directionsButton barriere" role="button" data-dojo-attach-event="click: barriersDirections"/>

		<img src="images/icons_${iconsColor}/print.png" data-dojo-attach-point="print" alt="Print" aria-label="${_i18n.widgets.directionsWidget.print}" title="${_i18n.widgets.directionsWidget.print}" tabindex=0 class="directionsButton print" role="button" data-dojo-attach-event="click: printDirections"/>

		<img src="images/icons_${iconsColor}/searchClear.png" alt="Clear" aria-label="${_i18n.widgets.directionsWidget.clear}" title="${_i18n.widgets.directionsWidget.clear}" tabindex=0 class="directionsButton clear" role="button" data-dojo-attach-event="click: clearDirections"/>
	</div>
</div>
