.simpleDirections .esriStopsAddDestination {
    display: none !important;
}

.simpleDirections .esriStopsOptionsButton {
    display: none !important;
}

.simpleDirections .esriStopsGetDirectionsContainer {
    display: none !important;
}

.simpleDirections .esriStopsButtons {
    display: none !important;
}

.simpleDirections .esriRouteInfo, .simpleDirections .esriRouteInfo strong {
    color: black;
}

.simpleDirections .esriRouteLength {
    top: 0; 
/*    padding: 0;
    border-radius: 0;
*/}

.simpleDirections .esriRouteZoom:focus .esriRouteInfo, .simpleDirections .esriRouteZoom:focus .esriRouteInfo strong {
    color: black;
}

.simpleDirections .esriRouteZoom .esriRouteLength, .simpleDirections .esriRouteZoom:focus .esriRouteLength {
    background: #434343;
    color: white;
}

.simpleDirections .esriTrafficLabelLight {
    color: darkgreen;
}

.simpleDirections .esriPrintFooter {
    color: black;
}

.simpleDirections .esriRoutesError {
    padding: 10px;
    text-align: left;
    color: darkred;
    font-size: larger;
}

.simpleDirections .esriStop .esriStopIcon,
.simpleDirections .esriRouteIconColumn .esriRouteIcon {
	color: black;
}

.simpleDirections .esriRouteIcon img,
.simpleDirections .esriStop .esriStopIcon img 
{
	position:absolute;
	display: block;
}

.simpleDirections .esriStop .esriStopIcon img 
{
	margin-left: 3px;
}

.simpleDirections .esriRouteIcon span,
.simpleDirections .esriStop .esriStopIcon span {
    font-weight: bold;
    position: absolute;
    margin-top: 1px;
    font-size: 12px;
}

.simpleDirections .esriRouteIcon span {
    margin-left: 8px;
}

.simpleDirections .esriStop .esriStopIcon span {
    margin-left: 10px;
}

@supports (display: -webkit-box) {
	.simpleDirections .esriRouteIcon span,
	.simpleDirections .esriStop .esriStopIcon span {
	    margin-left: -3px;
	}
}

.simpleDirections .esriRouteTextColumn {
    padding: 8px 5px 0px 0px;
}

.simpleDirections .esriRouteTextColumnCumulative {
    padding-top: 4px;
}

.simpleDirections .esriStop td {
    padding-bottom: 0;
}

.simpleDirections .arcgisSearch .searchExpandContainer
/*.simpleDirections .arcgisSearch .searchInputGroup */
{
    width: calc(100% - 32px);
}

.simpleDirections .arcgisSearch .searchGroup .searchInput {
    background-color: white;
    color: black;
}

.simpleDirections .esriStopsGetDirections,
.simpleDirections .esriDisabledDirectionsButton,
.simpleDirections .arcgisSearch .sourceName,
.simpleDirections .arcgisSearch .searchButtonText
{
	background: black;
	color: white;
}

.directionsHeader {
	float: right;
    margin-right: 4px;
    margin-top: 1px;
}

.directionsHeader img {
	height: 18px !important;
    width: 18px !important;
}