<div class="directionsHeader" id="${directionsHeaderId}">
	<div id="directionsControls" aria-label="${_i18n.widgets.popupInfo.headerNavigation}">
		<img src="images/icons_${iconsColor}/AddStop.png" alt="Stops" aria-label="${_i18n.widgets.popupInfo.map}" title="${_i18n.widgets.popupInfo.map}" tabindex=0  class="directionsButton stop" role="button"/>
		<img src="images/icons_${iconsColor}/Barriere.png" alt="Barriere" aria-label="${_i18n.widgets.popupInfo.map}" title="${_i18n.widgets.popupInfo.map}" tabindex=0  class="directionsButton barriere" role="button"/>
		<img src="images/icons_${iconsColor}/print.png" alt="Print" aria-label="${_i18n.widgets.popupInfo.map}" title="${_i18n.widgets.popupInfo.map}" tabindex=0  class="directionsButton print" role="button"/>
		<img src="images/icons_${iconsColor}/searchClear.png" alt="Clear" aria-label="${_i18n.widgets.popupInfo.clear}" title="${_i18n.widgets.popupInfo.clear}" tabindex=0 class="directionsButton clear" role="button"/>
	</div>
</div>
