.simpleDirections .esriStopsAddDestination {
    display: none !important;
}

.simpleDirections .esriStopsOptionsButton {
    display: none !important;
}

.simpleDirections .esriStopsGetDirectionsContainer {
    display: none !important;
}

.simpleDirections .esriStopsButtons {
    display: none !important;
}

.simpleDirections .esriRouteInfo, .simpleDirections .esriRouteInfo strong {
    color: black;
}

.simpleDirections .esriRouteLength {
    top: 0; 
/*    padding: 0;
    border-radius: 0;
*/}

.simpleDirections .esriRouteZoom:focus .esriRouteInfo, .simpleDirections .esriRouteZoom:focus .esriRouteInfo strong {
    color: black;
}

.simpleDirections .esriRouteZoom .esriRouteLength, .simpleDirections .esriRouteZoom:focus .esriRouteLength {
    background: #434343;
    color: white;
}

.simpleDirections .esriTrafficLabelLight {
    color: darkgreen;
}

.simpleDirections .esriPrintFooter {
    color: black;
}

.simpleDirections .esriRoutesError {
    padding: 10px;
    text-align: left;
    color: darkred;
    font-size: larger;
}

.simpleDirections .esriStop .esriStopIcon,
.simpleDirections .esriRouteIconColumn .esriRouteIcon {
	color: black;
}

.simpleDirections .esriRouteIcon img {
	position:absolute;
	display: block;
}

.simpleDirections .esriRouteIcon span {
    font-weight: bold;
    position: absolute;
    margin-left: 8px;
    margin-top: 1px;
    font-size: 12px;
}

@supports (display: -webkit-box) {
	.simpleDirections .esriRouteIcon span {
	    margin-left: -3px;
	}
}

.simpleDirections .esriRouteTextColumn {
    padding: 8px 5px 0px 0px;
}

.simpleDirections .esriRouteTextColumnCumulative {
    padding-top: 4px;
}