<div>
    <h2 class='instructionsTitle'>In addition to the mouse you may:</h2>
    <ul id='instructionsList'>
        <li>Use <myKey>Tab key</myKey> to navigate from item to item.</li>
        <li>Use <myKey>SHIFT Tab</myKey> to navigate backwards.</li>
        <li>Hit <myKey>SPACE&nbsp;bar</myKey> to toggle a focused check box.</li>
        <li>Press <myKey>ENTER</myKey> to activate the focused item.</li>
        <li>Press <myKey>Alt + Arrow-Down</myKey> to expand a combo box.</li>
        <li>Use <myKey>Alt</myKey> with a number to fast navigate (hint will display.)</li>
        <li>Use <myKey>ESCAPE</myKey> to go to the parent of the focus element.</li>
    </ul>
</div>