<div class="headerButton">
	<!-- <a href="mailto:${defaults.emailAddress}?subject=${defaults.subject}&body=${defaults.body}">${_i18n.contactUs}</a> -->

	<div data-dojo-type="dijit/form/DropDownButton">
	  	<span>${_i18n.contactUs}</span>
	  	<div data-dojo-type="dijit/TooltipDialog" class="contactUs" id="sendDialog" role="dialog">
	  		<h2>Please select all that applies:</h2>
	    	<ul>
	    		<li>
		    	<input type="checkbox" id="broken"><label for="broken" role="option">Something is broken</label></li>
		    	<li>
		    	<input type="checkbox" id="spell"><label for="spell" role="option">It has a spelling or grammar mistake</label></li>
		    	<li>
		    	<input type="checkbox" id="infoWrong"><label for="infoWrong" role="option">The information is wrong</label></li>
		    	<li>
		    	<input type="checkbox" id="infoOutdated"><label for="infoOutdated" role="option">The information is outdated</label></li>
		    	<li>
		    	<input type="checkbox" id="notFound"><label for="notFound" role="option">I can't find what I'm looking for</label></li>
		    </ul>

	    	<br/>
	    	<button data-dojo-type="dijit/form/Button" type="submit" id="sendBtn" dojo-attach-event="click: alert('click);">Save</button>
	    	<button data-dojo-type="dijit/form/Button" type="submit">Cancel</button>
	  	</div>
	</div>
</div>