.emailButton {
	display: table;
	height: 50px;
}

.emailButton a, .emailButton span {
    color: white;
    display:table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.emailButton a:hover, .emailButton a:focus {
    text-decoration: underline;
}